{% extends 'base.html' %}

{% block content %}

<h1>Avenger Signup</h1>

<h2>Signup</h2>
<form action="" method="POST">
    {{ signupform.hidden_tag() }}
    <div>
        <fieldset>
            {{ signupform.avengername.label }}
            {{ signupform.avengername(class="form-control") }}
        </fieldset>
        <fieldset>
            {{ signupform.address.label }}
            {{ signupform.address(class="form-control") }}
        </fieldset>
        <fieldset>
            {{signupform.phonenumber.label }}
            {{signupform.phonenumber(class="form-control") }}
        </fieldset>
        {{signupform.submit(class="buttom") }}
    </div>
</form>

{% endblock content %}